{% extends "content.html" %}
{% load mezzanine_tags pages_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in page.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}


{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
    {% page_menu "pages/menus/breadcrumb.html" %}
{% endblock %}

{% block content-left %}
    <img src="{{ MEDIA_URL }}img/content-img.png" />
{% endblock %}

{% block content %}
{% endblock %}
