{% load mezzanine_tags i18n %}

<div id="latest-news" class="news">
    {% if news_post %}
    <h1>
        {% editable news_post.title%}
            {{ news_post.title|safe }}
        {% endeditable %}
    </h1>
    {% editable news_post.image %}
        <img src="{{ MEDIA_URL }}{{  news_post.image }}" />
    {% endeditable %}
    <div class="date">
        {% editable news_post.publish_date %}
            {{ news_post.publish_date }}
        {% endeditable %}
    </div>
    <div class="text">
        {% editable news_post.abstract %}
            {{ news_post.abstract|safe }}
        {% endeditable %}
    </div>
    <div class="news-button">
        <a href="{{ news_page.get_absolute_url }}">&gt;&nbsp;{% trans "News Archive" %}</a>
    </div>
    {% endif %}
</div>

