{% extends "base.html" %}
{% load i18n mezzanine_tags news_tags %}

{% block meta_title %}{{ news_page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in news_page.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ news_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable news_page.title %}{{ news_page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<div class="content news" >
    <h1>{% trans "News List" %}</h1>
    {% for news_post in news_posts.object_list %}
        <div class="news-entry" >
        {% if news_post.image %}
            {% editable news_post.image %}
                <img src="{{ MEDIA_URL }}{{ news_post.image }}" alt="{{ news_post.title }}" >
            {% endeditable %}
        {% endif %}

        {% editable news_post.title news_post.publish_date %}
        <h2 class="news-post-title">
            <a href="{% url news_post_detail news_post.slug %}">{{ news_post.title }}</a>
        </h2>
        <div class="date">
            {% with news_post.user as author %}
                {{ author.first_name }} {{ author.last_name }}
            {% endwith %}
            {{ news_post.publish_date|timesince }} {% trans "ago" %}
        </div>
        {% endeditable %}

        {% editable news_post.content %}
        <div class="text">
            {{ news_post.description_from_content|safe }}
        </div>
        {% endeditable %}

        <div class="description">
            <a href="{% url news_post_detail news_post.slug %}">{% trans "read more" %}</a>
        </div>
        </div>
    {% endfor %}

    <div class="pager">
    {% pagination_for news_posts %}
    </div>
<div>

{% endblock %}

{% block right_panel %}

{% endblock %}

