{% extends "content.html" %}
{% load mezzanine_tags i18n %}


{% block meta_title %}{{ news_post.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in news_post.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ news_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
<div class="news-post">
{% editable news_post.title %}{{ news_post.title }}{% endeditable %}
</div>
{% endblock %}


{% block breadcrumb_menu %}
<div class="news-post">
<ul>
    <li><a href="{% url home %}">{% trans "Jolana Mokošová" %}</a> &gt;</li>
    <li><a href="{% url news_post_list %}">{{ news_page.title }}</a> &gt;</li>
    <li>{{ news_post.title }}</li>
</ul>
</div>
{% endblock %}

{% block content-left %}
    <div class="news-img">
        <img src="{{ MEDIA_URL }}{{ news_post.image }}" />
    </div>
{% endblock %}

{% block content %}
    <div class="news-post">
        <div class="date">
            {{ news_post.publish_date|date:"DATE_FORMAT" }}
        </div>

        <div class="description">
            {% editable news_post.abstract %}
            {{ news_post.abstract|safe }}
            {% endeditable %}
        </div>

        {% editable news_post.content %}
        {{ news_post.content|safe }}
        {% endeditable %}


        <div class="share">
        {% set_short_url_for news_post %}
        {% trans "Share this on:" %}
        <a target=_"blank" href="http://twitter.com/home?status={{ news_post.short_url|urlencode }}%20{{ news_post.title|urlencode }}">Twitter</a>
         /
        <a target=_"blank" href="http://facebook.com/sharer.php?u={{ news_post.short_url|urlencode }}&t={{ news_post.title|urlencode }}">Facebook</a>
        </div>

    </div>

{% endblock %}



