{% load i18n %}

{% if perms.news.add_newspost and perms.news.change_newspost %}
<div class="module">
    <h2>{% trans "Quick News Post" %}</h2>
    <form method="post" action="{% url admin:news_newspost_add %}">
        {% csrf_token %}
        <table id="quick-news">
            {{ form.as_table }}
            <tr><td colspan="2" style="text-align:right;">
                <input type="submit" class="default" 
                    value="{% trans "Save Draft" %}" />
            </td></tr>
        </table>
    </form>
</div>
{% endif %}

