{% load pages_tags global_tags i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/content.css" type="text/css" />
    <style type="text/css" media="screen">
        @import url("{{ MEDIA_URL }}css/menuh.css");
        body {
            behavior: url("{{ MEDIA_URL }}css/csshover3.htc");
        }
    </style>


    {% block extra_head %}{% endblock %}

</head>
<body>




<div class="container_16 container" >

    <div id="grid-top">
        <img id="logo" src="{{ MEDIA_URL }}img/logo.png"
         {% if settings.SITE_TITLE %}alt="{{ settings.SITE_TITLE }}"{% endif %}
         />
        {% page_menu "pages/menus/primary.html" %}
    </div>

    <div class="clearfix" id="container">
    {% block main %}{% endblock %}

      <div id="grid-bottom" class="clearfix" style="clear:both;">
        {% block footer %}{% footer_text %}{% endblock %}
      </div>
    </div>


    {% include "includes/footer_scripts.html" %}
</div>
</body>
</html>

