{% load pages_tags global_tags i18n %}
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/content.css" type="text/css" />
    <style type="text/css" media="screen"> @import url("{{ MEDIA_URL }}css/menuh.css"); </style>
    <!--[if lt IE 7]>
    <style type="text/css" media="screen">
        body{behavior:url({{ MEDIA_URL }}css/csshover.htc); }
    </style>
    <![endif]-->
    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}">




<div class="container_12 clearfix" >

    <div id="grid-top">
        <img id="logo" src="{{ MEDIA_URL }}img/logo.png"
         {% if settings.SITE_TITLE %}alt="{{ settings.SITE_TITLE }}"{% endif %}
         />
        {% page_menu "pages/menus/primary.html" %}
    </div>

    <div class="clearfix" id="container">
    {% block main %}{% endblock %}

      <div id="grid-bottom" class="clearfix">
        {% block footer %}{% footer_text %}{% endblock %}
      </div>
    </div>


    {% include "includes/footer_scripts.html" %}
</div>
</body>
</html>

