{% extends "base.html" %}

{% load i18n mezzanine_tags pages_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% for keyword in page.keywords.all %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}



{% block main %}
    <div class="grid_4 grid">
        <div class="content-left">
            {% block content-left %}{% endblock %}
        </div>
    </div>

    <div class="grid_12 grid">
        <div class="content">
            <h1>{% block title %}{% endblock %}</h1>
            <div id="breadcrumb-menu">
                {% block breadcrumb_menu %}
                    {% page_menu "pages/menus/breadcrumb.html" %}
                {% endblock %}
            </div>

            {% block content %}{% endblock %}

        </div>
    </div>
{% endblock %}
