{% extends "base.html" %}

{% load i18n  %}
{% load news_tags global_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block main %}
    <div class="grid_8 grid"><div id="index-left" >
        {% latest_news %}
    </div></div>
    <div  class="grid_8 grid"><div id="index-right" >
        {% homepage_image %}
    </div></div>
    <div id="index-bottom" class="content" >
        {% get_homepage %}
    </div>
{% endblock %}
