{% extends "base.html" %}

{% load i18n  %}
{% load news_tags global_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block main %}
    <div class="grid_6 grid"><div id="index-left" >
        {% latest_news %}
    </div></div>
    <div  class="grid_6 grid"><div id="index-right">
        <img src="{{ MEDIA_URL }}img/index-example.png" alt="Index" id="index-image">
    </div></div>
    <div id="index-bottom" >
        {% get_homepage %}
    </div>
{% endblock %}
