{% extends "base.html" %}

{% load i18n %}
{% load news_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block main %}
    <div class="grid_6 grid"><div id="index-left" >
        {% latest_news %}
    </div></div>
    <div  class="grid_6 grid"><div id="index-right">
        <img src="{{ MEDIA_URL }}img/index-example.png" alt="Index">
    </div></div>
    <div id="index-bottom" >
        <h1>Bottom title</h1>
        <p>Bottom text</p>
    </div>
{% endblock %}
