


/*------ REPLACE THIS WITH YOUR CUSTOM CSS --------- */

a.editable-link, #editable-toolbar a {
    background-color: #fefefe; font-weight: bold; font-style:normal; font-family: Verdana;
}
form#editable-toolbar {
    border: 1px solid black; background-color: white; font-style:normal;
}

body {
    font-family:Verdana;
    font-size:12px;
    text-align:center;
}
.container {
    text-align:left;
}
.grid {
    padding:30px 0;
}

#logo  { position:absolute; left:0px; top:35px; }

#grid-top {
    background:#fff;
    text-align:right; padding:0; position:relative;
    height: 107px;

}

ul#primary-menu {position:absolute; top:70px; right:0px;  }
#primary-menu li a, #primary-menu li a:visited {
    color:#fff; font:normal Tahoma 14px; text-decoration:none;
    text-transform:uppercase;
}

ul#primary-menu  li {
    float:left;
    margin-right:5px;
    padding:10px 20px;
    border-bottom:5px solid #fff;
    background-color:#cc0001;
    position:relative;
    height: 12px;
}
ul#primary-menu li:hover {
    background-color:#aa0001;
}

#primary-menu .last {
    margin-right:0px;
}
#primary-menu .active {
    background:#f5f5f5;
    border-bottom:5px solid #f5f5f5;
}
#primary-menu .active a, #primary-menu .active a:visited {color:#000;}
#primary-menu li.active:hover a, #primary-menu li.active:hover a:visited   {color:#fff;}
#primary-menu .active #primary-menu-drop a, #primary-menu .active #primary-menu-drop a:visited {color:#fff;}

#primary-menu-drop {
    position:absolute;  top:33px; left:0px;
    padding: 5px 10px; background-color:#cc0001; text-align:left;
    width:200px;
}
ul#primary-menu #primary-menu-drop li {padding:2px 0px; float:none; border:0px; }
ul#primary-menu #primary-menu-drop li:hover { background-color:#cc0001; }
#primary-menu-drop li a, #primary-menu-drop li  a:visited {color:#fff; font-size:11px; font-weight:normal;}


.container_12 {
    background:#fff;
}
#grid-middle {
    min-height:100%;
}
#grid-middle img {
    max-width:400px;
}
.gutter {
    padding:0 30px;
}
#grid-left {
    font-size:130%;
}
#grid-left li {
    display:block; margin:5px 30px;
}
#grid-left ul ul li {
    list-style-type:disc; font-size:80%;
}
#grid-middle ul {
    list-style:disc;
}
#grid-middle ol {
    list-style:decimal;
}
#grid-middle blockquote {
    border-left: 1px solid #333;
    margin-left: 30px;
}
#grid-middle blockquote p {
    margin-left: 10px;
    line-height: 100%;
}
#grid-right li {
    display:block; margin-top:3px;
}
#grid-bottom {
    padding:20px 20px;
    font-size:12px;
}

h2,
p,
#breadcrumb-menu,
#description,
.paging,
.share,
#comments,
.comment {
    margin:10px 0;
}
h1 {
    font-size:130%;font-weight:bold; text-transform:uppercase;
}
h2 {
    font-size:110%;
}
h3 {
    font-weight:normal; margin:20px 0 10px;
}
h4 {
    font-weight:bold; margin-top:10px;
}
h5 {
    font-weight:bold; margin-top:20px;
}
a {
    color:#336;
}
table {margin-bottom:30px;}
td, th {padding:3px;}

.active li {
    font-style:normal;
}
p {
    line-height:150%;
}
pre,
pre *,
code,
code * {
    font-family:monospace;
}
pre {
    padding:15px;
}
#breadcrumb-menu li {
    list-style-type:none; display:inline;
    margin-left:0px;
}
input,
textarea {
    border:1px solid #999;
}
textarea {
    width:100%;
}
td, th {
    padding:4px;
}
#grid-bottom a {
    color:#eee; text-decoration:none;
}
.since {
    display:block; margin-bottom:20px;
}
.paging {
    clear:both;padding-top:20px;
}
.paging li {
    padding:0 5px; margin:0 !important;
}
.paging * {
    display:inline;
}
.button {
    cursor:pointer;
}
.help {
    font-size:60%; margin:0;
}
.tags ul,
.tags li {
    display:inline !important; margin:0 !important;
}
.share {
    background:#eee; padding:5px;
}
.button {
    float:right; padding:10px; margin:10px;
}
.form li {
    display:block; padding:5px 10px;
}
#search .button {
    margin:0; padding:1px 5px; float:none;
}
#comments p {
    border-bottom:1px solid #ddd;
}
#comments li {
    padding:5px; display:block;
}
#comments li ul {
    padding:5px 0 0 30px;
}
#comments img {
    margin-right:5px; vertical-align:middle;
}
.comment {
    background:#eee;
}
.comment th,
.comment td {
    text-align:left; vertical-align:top;
    padding:5px 10px;
}
.comment .button {
    margin-right:0px !important;
}
.author {
    background:#fafbd2;
}
ul .comment {
    display:none;
}
ul .posted {
    display:block !important;
}
.comment
.errorlist li {
    color:#f00; float:left; width:100%;
    padding:0 !important;
}
.tag-weight-1 {
    font-size:80%;
}
.tag-weight-2 {
    font-size:120%;
}
.tag-weight-3 {
    font-size:160%;
}
.tag-weight-4 {
    font-size:200%;
}
.tweets li {
    font-size:70%; clear:both; margin-bottom:10px;
    line-height:130%;
}
.tweets img {
    float:left; border:1px solid #000; margin:0 5px 5px 0;
    width:32px; height:32px;
}
.tweets .timespan {
    font-style:italic;
    color: #666;
}
.tweets .name {
    color: #666;
}
.recycle {
    font-size:150%;
}
.retweet  {
    float:none; margin-bottom:-5px; width:16px; height:16px;
}
.mezzanine {
    font-size:80%;
}
.form {
    background:#eee; border-bottom:1px solid #ccc; float:left;
}
.form li ul,
.form li li {
    display:inline;
}
.form li label {
    width:30%; float:left;
}
.form li li label {
    width:auto; float:none;cursor:pointer;
}
#search-results p {
    margin:5px 0;
}
.tagline {
    font-style:italic;
    font-size:130%;
}

#index-image {width:400px; border:1px solid #ddd;}
#index-right {text-align:center;}
#index-left, #index-right {margin-top:10px;}
#index-left, #index-bottom {padding:0px 10px;}
#index-bottom h1 {margin-bottom:25px;}
#index-bottom {font-size:12px; padding:0px 20px; clear:both;}

#container {background:url('../img/bg.png') repeat-x;}

#latest-news h1 {margin-bottom:24px; margin-top:20px;}
.news img {width:150px; float:left; }
#latest-news img {margin-right:14px;}

.news .date {color: #cc0001; font-size:10px; font-weight:bold;}
#latest-news .date { padding-top:10px;}


.news-list h1 {margin:10px 0px;}
.news .text {font-size:12px;  }
.news .text p {margin:10px 0px;}
#latest-news .text {  margin-top:14px;}

.news-entry {
    clear:both;
}
.news-entry h2 {
    font-size:15px; font-weight:bold; text-transform:uppercase; margin-bottom:10px;
}
.news-entry h2 a, .news-entry h2 a:visited {
    text-decoration:none; color:#000;
}
.news-entry .description a {
    text-decoration:none; color:#cc0001; font-size:13px;
}
.news-entry .date, .news-entry .text, .news-entry .description, .news-entry h2 {
    margin-left:190px;
}

 .news-button {
    clear: both;
    margin-left:165px;
}
.news-button a, .news-button a:visited {
    background-color:#cc0001; padding:5px 25px 5px 10px; float:left;
    display:block;
    color:#fff; text-decoration:none; font-size:12px; text-transform:uppercase;
}


.news-post .date {color: #cc0001; font-size:10px; font-weight:bold; margin:0px; padding:0px;}
.news-post .description {color:#777; padding:10px 0px;}
.news-img img {width:150px; margin-left:10px;}

.content { padding: 20px 20px 0px 0px; }

.content-left { padding: 20px 0px 0px 20px; }
.news-list {padding: 20px 20px 0px 30px;}